:root {
  --bgColor: #7F5283;
  --barCOlor: #bdc3c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgColor);
}


.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.20fr 0.8fr 1fr; 
  gap: 0 0; 
  grid-template-areas:
    ". title ."
    ". container2 ."
    ". container1 ."; 
}

.t2{
  grid-area: title;
  font-size: 25px;
  font-family: Florence, cursive;
  text-align: center;
  color: black;
}

.para{
  height: 240px;
  width: 300px;
  background-color: #433878;
  grid-area: container2;
  font-size: 19px;
  color: #FEFBF6;
  font-family: Florence, Sans-Serif;
  text-align: center;
}

.navbar{
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%);
  position: fixed;
  display: flex;
  text-wrap: nowrap;
  word-spacing: 10px;
}

.navbar ul{
  list-style-type: none;
  background-color: black;
  opacity: 25%;
}

.navbar a{
  color: white;
  text-decoration: none;
}

.navbar li{
  justify-content: space-evenly;
  display: inline-block;
}

@media screen and (width >= 1200px) {
.t2{
  grid-area: title;
  font-size: 35px;
  font-family: Florence, cursive;
  text-align: center;
  color: black;
}

.para{
  height: 500px;
  width: 900px;
  background-color: #A6D1E6;
  grid-area: container2;
  font-size: 50px;
  color: black;
  font-family: Florence, Sans-Serif;
  text-align: center;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 60px;
  }

}

@media screen and (max-width: 768px) {
  .navbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
}

